* {
  background: rgb(134, 223, 158);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: rgb(148, 91, 253);
}

.neon {
  font-family: sofia-pro, sans-serif;
  color: #a967ff;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #770af4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 2rem;
}

.neon {
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #a865ff, 0 0 3vw #a865ff, 0 0 10vw #a865ff,
      0 0 10vw #a865ff, 0 0 0.4vw #daa7fc, 0.5vw 0.5vw 0.1vw #4c1480;
    color: #daa7fc;
  }
  50% {
    text-shadow: 0 0 0.5vw #2d0a4e7e, 0 0 1.5vw #2d0a4e7e, 0 0 5vw #2d0a4e7e,
      0 0 5vw #2d0a4e7e, 0 0 0.2vw #2d0a4e7e, 0.5vw 0.5vw 0.1vw #1f0a40;
    color: #4c1480;
  }
}

.texts {
  margin: 0px 20px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  width: 90%;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#first1 {
  display: block;
  margin-left: auto;
  width: 90%;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#first2 {
  display: block;
  margin-left: auto;
  width: 90%;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
